<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sorry! 在线生成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css" />
</head>

<body>


    <!-- Main Frame -->
    <div class="w3-container w3-display-container w3-half">
        <div class="w3-container">
            <img src="example.png" alt="Lights" style="width:100%">
            <h1 class="w3-text-blue">在线生成Sorry动图</h1>
        </div>

        <div class="w3-container">

        <%= content %>

        </div>
    </div>
    <script src="/cookies.js"></script>
    <script src="/main.js"></script>
</body>

</html>
